/****Custom CSS********
*******by Gray***********************
******************************
******************************/

/*FONTS------------------------------------------------------------------------------------------------*/
/* NOTO SANS */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* NOTO SERIF */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* Playwrite Australia NSW */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+NSW:wght@100..400&display=swap');



/* latin-ext */
@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/kaushanscript/v9/vm8vdRfvXFLG3OLnsO15WYS5DG72wNJHMw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/kaushanscript/v9/vm8vdRfvXFLG3OLnsO15WYS5DG74wNI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Permanent Marker';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Permanent Marker Regular'), local('PermanentMarker-Regular'), url(https://fonts.gstatic.com/s/permanentmarker/v9/Fh4uPib9Iyv2ucM6pGQMWimMp004La2Cfw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */

@font-face {
    font-family: 'Carter One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Carter One'), local('CarterOne'), url(https://fonts.gstatic.com/s/carterone/v11/q5uCsoe5IOB2-pXv9UcNExN8hA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */

@font-face {
    font-family: 'Joti One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Joti One'), local('JotiOne-Regular'), url(https://fonts.gstatic.com/s/jotione/v8/Z9XVDmdJQAmWm9TwabTX6Oy0lw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
    font-family: 'Joti One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Joti One'), local('JotiOne-Regular'), url(https://fonts.gstatic.com/s/jotione/v8/Z9XVDmdJQAmWm9TwabTZ6Ow.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */

@font-face {
    font-family: 'Expletus Sans';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Expletus Sans Italic'), local('ExpletusSans-Italic'), url(https://fonts.gstatic.com/s/expletussans/v13/RLpnK5v5_bqufTYdnhFzDj2ddfsouIkq.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */

@font-face {
    font-family: 'Expletus Sans';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: local('Expletus Sans Medium Italic'), local('ExpletusSans-MediumItalic'), url(https://fonts.gstatic.com/s/expletussans/v13/RLpiK5v5_bqufTYdnhFzDj2ddfsgS6o_U1vM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */

@font-face {
    font-family: 'Expletus Sans';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: local('Expletus Sans SemiBold Italic'), local('ExpletusSans-SemiBoldItalic'), url(https://fonts.gstatic.com/s/expletussans/v13/RLpiK5v5_bqufTYdnhFzDj2ddfsgZ60_U1vM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */

@font-face {
    font-family: 'Expletus Sans';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: local('Expletus Sans Bold Italic'), local('ExpletusSans-BoldItalic'), url(https://fonts.gstatic.com/s/expletussans/v13/RLpiK5v5_bqufTYdnhFzDj2ddfsgA6w_U1vM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */

@font-face {
    font-family: 'Expletus Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Expletus Sans'), local('ExpletusSans'), url(https://fonts.gstatic.com/s/expletussans/v13/RLp5K5v5_bqufTYdnhFzDj2ddf4Yug.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */

@font-face {
    font-family: 'Expletus Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Expletus Sans Medium'), local('ExpletusSans-Medium'), url(https://fonts.gstatic.com/s/expletussans/v13/RLpkK5v5_bqufTYdnhFzDj2dfQ07r64PUQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */

@font-face {
    font-family: 'Expletus Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Expletus Sans SemiBold'), local('ExpletusSans-SemiBold'), url(https://fonts.gstatic.com/s/expletussans/v13/RLpkK5v5_bqufTYdnhFzDj2dfSE8r64PUQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */

@font-face {
    font-family: 'Expletus Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Expletus Sans Bold'), local('ExpletusSans-Bold'), url(https://fonts.gstatic.com/s/expletussans/v13/RLpkK5v5_bqufTYdnhFzDj2dfUU9r64PUQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Merienda';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/merienda/v9/gNMHW3x8Qoy5_mf8uWMLMIqK_Q.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/*FORUM BASE STYLE-----------------------------------------------------------------------------------------*/

a {
    font-family: 'Expletus Sans', 'Roboto';
}

a:hover,
a:active {
    color: #000000;
    text-shadow: 0 0 0.2em #ffffff, 0 0 0.2em #ffffff, 0 0 0.2em #ffffff;
    text-decoration: none;
}

li[class^='btn-'] a:hover {
    text-shadow: none;
}

.ion-staff-list::before {
    content: url(https://i.imgur.com/tnqFYSN.png);
}

img {
    max-width: 100%;
}

a.forumtitle {
    color: #ffffff !important;
    font-family: 'Expletus Sans', 'Roboto';
}

a.forumtitle:hover,
a.topictitle:hover {
    color: #000000 !important;
    text-shadow: 0 0 0.2em #ffffff, 0 0 0.2em #ffffff, 0 0 0.2em #ffffff !important;
    text-decoration: none;
}

a[href^='/modcp']:hover img,
a[href^='/merge']:hover img,
img[class^='i_icon_']:hover,
img[title*='Send e-mail']:hover,
#i_icon_pm:hover {
    -webkit-filter: invert(1);
    filter: invert(1);
}

a.mentiontag {
    background-color: #000;
}

a.mentiontag:hover,
a.mentiontag:active {
    background-color: #fff;
    color: #000;
}

#site-desc {
    text-shadow: 0 0 0.2em #000000 !important;
    font-family: 'Permanent Marker', sans-serif !important;
}

#fa_service {
    font-family: 'Permanent Marker' !important;
}

#fa_share {
    display: none !important;
}

#fa_chat_button {
    display: none !important;
}

#fa_menulist {
    background-color: var(--rd-highlight-color);
}

#fa_menulist :link,
#fa_menulist :visited {
    color: #ffffff !important;
}

#fa_usermenu {
    background-color: #1c1f22;
    color: #ffffff !important;
}

#fa_icon {
    margin-right: 0.5em;
}

#fa_icon:hover {
    -webkit-filter: invert(1);
    filter: invert(1);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    box-shadow: 0 0 0 50em var(--rd-highlight-color) inset;
    -webkit-box-shadow: 0 0 0 50em var(--rd-highlight-color) inset !important;
    /* Change the color to your own background color */
    -webkit-text-fill-color: #ffffff;
}

.mod-top-row .mod-top-pct {
    background-color: #666E74;
}

.mod-top-row .mod-top-bar {
    background-color: var(--rd-highlight-color);
}

select {
    color: #ffffff;
}

a[href="/faq"] {
    display: none;
    position: absolute;
}

#mpage-body-modern,
#mwrap .forum-header-background {
    background-color: #000000;
}

#mwrap .forum-header-content {
    background-color: #000000;
    border-color: none;
}

.post-head {
    border-color: #ffffff;
}

li.header dl.icon dt,
li.header dl.icon dd.dterm {
    margin-top: 0.5rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}

ul.topiclist li.header dl dd {
    margin-bottom: 0;
}

ul.topiclist dd.dterm h2,
ul.topiclist dt h2,
.table-title,
.table-title h2 {
    font-family: 'Roboto', 'Century Gothic', sans-serif;
    font-weight: 500;
}

hr,
h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
    border-color: var(--rd-main-font-color);
    opacity: 1;
}

blockquote {
    color: var(--rd-main-font-color);
    border-color: var(--rd-main-font-color);
    background-color: var(--rd-blockquote-bg-color);
    overflow: visible;
}

blockquote:before {
    color: rgba(0, 0, 0, 0.4);
}

.codebox.spoiler dt {
    color: #ffffff;
}

.button1:active,
.button1:hover,
.button2:hover,
.button2:active {
    color: #000000 !important;
    text-shadow: none !important;
    background-color: #ffffff !important;
}

.pagination span a:hover {
    background-color: #ffffff;
    color: #000000;
}

.quick-nav-topics a img {
    -webkit-filter: invert(1) !important;
    filter: invert(1) !important;
}

.quick-nav-topics a:hover img {
    -webkit-filter: invert(0.5) !important;
    filter: invert(0.5) !important;
}

.navbar a[href="/images"] {
    display: none;
}

.pagination a.pag-img img {
    -webkit-filter: invert(1) !important;
    filter: invert(1) !important;
}

.pagination a.pag-img:hover img {
    -webkit-filter: invert(0.5) !important;
    filter: invert(0.5) !important;
}

.sceditor-container textarea {
    caret-color: #ffffff !important;
    color: #ffffff !important;
}

.sceditor-button {
    border-radius: 0 !important;
    border-right: 1px solid #4f595f;
}

.sceditor-button div {
    margin: 0 !important;
}

.sceditor-toolbar {
    -moz-background-clip: padding;
    -moz-border-radius: 3px 3px 0 0 !important;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-background-clip: padding-box;
    -webkit-border-radius: 3px 3px 0 0 !important;
    -webkit-user-select: none;
    background-clip: padding-box !important;
    border-bottom: 1px solid silver;
    border-radius: 3px 3px 0 0 !important;
    line-height: 0;
    overflow: hidden;
    padding: 3px 8px 8px 3px !important;
    user-select: none;
}

.sceditor-group {
    border-radius: 3px !important;
    background-color: #fff !important;
    margin: 1px 5px 1px 0;
}

div.sceditor-group>.sceditor-button:last-child {
    border: none;
}

.fa_like_list,
.fa_dislike_list {
    color: var(--rd-main-font-color);
}

ul.forums,
div.module {
    overflow: visible;
}

.panel .h3 {
    color: #898989;
    border-color: #898989;
}

div[id^='forabg'] {
    display: none;
}

.dropdown .postlink img {
    box-shadow: 0 0 1em #000000;
    border: 0.1em solid var(--rd-highlight-color);
    opacity: 0.35;
    border-radius: 3px;
}

.dropdown:hover .postlink img {
    opacity: 0.9;
}

.dropdown .postlink:hover {
    background-color: transparent;
}

.icon-image {
    max-width: 32px !important;
}

.icon-link:hover {
    text-shadow: none !important;
    z-index: 999;
    cursor: help;
}

.hljs-tag {
    color: #ffad61 !important;
}

#sce_smilies_body {
    background-color: #303030;
}

img[alt^="rd_emoji"],
#sce_smilies_body img {
    max-width: 32px !important;
}

.postbody .content,
.postbody i {
    line-height: 1.6em;
}

#page-desc {
    overflow: visible;
}



/*WIDGETS-----------------------------------------------------------------------------------------------*/

div.staffList>div.tooltip {
    max-width: 40%;
}

form.mod-login div.fb_or,
form.mod-login div.social_btn {
    display: none;
}

a.mod-recent-title {
    font-size: 1.2rem;
}

span.mod-recent-info {
    margin-bottom: 1rem;
}

/*POST TEMPLATES----------------------------------------------------------------------------------------*/

.adminPostContainer {
    margin: auto;
    width: 95%;
    /*border: 0.5em solid #B8E8F5;*/
    /*background-color: #E8F9FF;*/
    border-radius: 0.5em;
    box-shadow: 0 0 0.1em #000000;
}

.adminPostContainer hr {
    border-color: var(--rd-main-font-color);
}

.adminPostText {
    margin: auto;
    vertical-align: top;
    padding: 1em;
    font-family: century gothic, verdana, times new roman;
    font-size: 1em;
    text-align: justify;
    width: 85%;
    padding-bottom: 1em;
}

.adminPostTitle {
    margin: auto;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    /* color: rgb(2, 100, 126); */
    text-shadow: 0 0 0.05em;
    /*rgb(1, 134, 137);*/
    text-transform: uppercase !important;
    line-height: 1.1em;
    font-family: 'Expletus Sans';
}

.adminPostDescription {
    margin: auto;
    text-align: justify;
    /* color: rgb(1, 70, 90); */
    text-shadow: 0 0 0.01em
        /*rgb(57, 190, 226)*/
    ;
}

.adminPostSubtitle {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    /* color: rgb(2, 100, 126); */
    text-shadow: 0 0 0.05em
        /*rgb(1, 134, 137)*/
    ;
    text-transform: uppercase !important;
    line-height: 1.1em;
    font-family: 'Expletus Sans';
}

.adminPostContainer img,
.creation-template img {
    max-width: 100%;
}

.adminPostQLContainer {
    max-width: 20%;
    max-height: 80vh;
    float: left;
    position: sticky;
    top: 100px;
    margin-top: 1.5em;
    overflow: auto;
}

.adminPostQLText {
    width: 95%;
    text-align: left;
    font-family: century gothic, verdana, times new roman;
}

.adminPostQLText a {
    display: block;
    padding: 0.35em;
}

.creation-template,
.post-template {
    margin: auto;
    vertical-align: top;
    padding: 1em;
    font-size: 1em;
    text-align: justify;
    width: 85%;
    padding-bottom: 1em;
}

.creation-template hr,
.post-template hr {
    border-color: var(--rd-main-font-color);
}

.creation-template {
    font-family: century gothic, verdana;
}

.post-template {
    width: 65%;    
    font-family: 'Noto Sans', 'Century Gothic', 'Verdana';
}

.flashback {
    font-weight: 200;
    opacity: 70%;
}

.news-coo-container {
    margin: auto;
    margin-bottom: 1em;
    width: 70%;
    padding: 1em;
    border: 1em #000;
    background-color: #ffffff;
    box-shadow: 0 0 2em #000;
}

.news-coo-text {
    margin: auto;
    vertical-align: top;
    font-family: garamond, serif;
    font-size: 1.25em;
    text-align: justify;
    width: 90%;
    color: black;
}

.news-coo-text img {
    max-width: 90%;
}

.news-coo-article-title-container {
    border-top: 0.8em #000;
    border-bottom: 0.8em #000;
    width: 100%
}

.news-coo-article-date {
    float: right;
    font-size: 0.25em;
}

.news-coo-article-img-container {
    float: left;
    padding-right: 0.5em;
    max-width: 50%;
    border: 0.5em #000;
}

.news-coo-article-img-container img {
    max-width: 100%;
}

.news-coo-text a {
    color: #ff88ff;
}

.news-coo-text a:hover {
    color: #000000;
}

[class^="icon-berry-"],
.ico-b-g,
.ico-b-b,
.ico-b-r,
.ico-b-u {
    display: inline-block;
    background-repeat: no-repeat;
    width: 12px;
    height: 19px;
    vertical-align: -25%;
}

[class^="icon-berry-"]:hover,
[class^="ico-b-"]:hover {
    cursor: help;
}

.icon-berry-green,
.ico-b-g {
    background-image: url(https://i.imgur.com/OJbUWbl.png);
}

.icon-berry-black,
.ico-b-b {
    background-image: url(https://i.imgur.com/M8qn9Gl.png);
}

.icon-berry-red,
.ico-b-r {
    background-image: url(https://i.imgur.com/L93Kmx8.png);
}

.icon-berry-blue,
.ico-b-u {
    background-image: url(https://i.imgur.com/0UV94q5.png);
}


/*CODE BOX SELECT ALL BUTTON-------------------------------------------------------------------------*/

.selectCode {
    float: right;
    cursor: pointer;
}

.selectCode:hover {
    text-shadow: none;
}

.selectCode:hover img {
    opacity: 0.7;
}

.selectCode img {
    max-width: 16px;
}

div.cont_code {
    clear: right;
}

dl.codebox:before {
    top: initial;
    bottom: 6px;
}

.inlinecode {
    background: rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 0 3px 3px 0;
    border-style: solid;
    border-width: 0 0 0 6px;
    font-family: Courier, "Courier New", monospace;
    padding: 0.15em;
    color: #00aa00;
    border-radius: 0.15em;
}

.inlinespoiler {
    background-color: #000000 !important;
    border-color: rgba(255, 255, 255, 0.1);
    border-radius: 0 3px 3px 0;
    border-style: solid;
    border-width: 0 0 0 6px;
    padding: 0.15em;
    border-radius: 0.15em;
}

.inlinespoiler:hover {
    cursor: pointer;
}

.inlinespoiler-hidden {
    color: #000000 !important;
    user-select: none;
}

/*SCROLLBAR----------------------------------------------------------------------------------------------------------------------------------------------*/

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 9px;
    border-radius: 9px;
    background: #ffffff;
    box-shadow: inset 15 15 15px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: inset 15 15 15px rgba(0, 0, 0, 0.7);
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #999999
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #c0c0c0;
}

/*SPECIAL
EFFECTS------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Float */

.hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active,
.dropdown:hover .hvr-float,
.dropdown:focus .hvr-float,
.dropdown:active .hvr-float {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}

/* Effect - Description visible on hover */

.hvr-vis {
    visibility: hidden;
    position: absolute;
    background-color: var(--bs-dark);
    color: var(--rd-main-font-color);
    box-shadow: 0 0 0.1em #000000;
    border-radius: 3px;
    padding: 5px 5px 5px 5px;
    text-align: justify;
    max-width: 100%;
    z-index: 999;
}

.hvr-vis::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    /* At the top of the tooltip */
    left: 10%;
    margin-left: -5px;
    border-width: 5px;
}

.dropdown:hover .hvr-vis,
a:hover+br+.hvr-vis {
    visibility: visible;
    z-index: 999;
}

/* Tooltip container */

.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */

.tooltip .tooltiptext {
    visibility: hidden;
    width: 10em;
    background-color: var(--rd-highlight-color);
    color: #ffffff;
    text-align: center;
    padding: 0.5em 0.1em;
    border-radius: 3px;
    box-shadow: 0 0 0.1em;
    font-size: 75%;
    font-family: 'Century Gothic', sans-serif;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 100%;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
}

/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*DROPDOWN
MENU----------------------------------------------------------------------------------------------------------------------------------*/

/* Dropdown Button */

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-sub {
    position: relative;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 200px;
    z-index: 2;
    left: 100%;
    top: 0%;
    padding-bottom: 4em;
    padding-right: 4em;
}

/* Links inside the dropdown */

.dropdown-content a {
    display: block;
    background-color: var(--rd-highlight-color);
    color: #ffffff;
    box-shadow: 0 0 0.1em #000000;
    text-align: center;
    padding: 0.5em 0.1em;
    border-radius: 3px;
    margin-left: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #ffffff;
    color: #000000;
    text-shadow: none;
}

/* Show the dropdown menu on hover */

.dropdown:hover>.dropdown-content,
.dropdown-sub:hover>.dropdown-content {
    display: block;
}

/*USERNAME GLOWS AND ICONS--------------------------------------------------------*/


a[href*="/u"]:hover,
a[href*="/u"]:active {
    text-shadow: 0 0 0.2em #ffffff, 0 0 0.2em #ffffff, 0 0 0.2em #ffffff !important;
}

a[href="/u2"],
.chatbox-username[data-user="2"] {
    text-shadow: 0 0 0.1em black, 0 0 0.1em black, 0 0 0.1em black;
    padding-right: 18px;
    background: url(https://i.servimg.com/u/f60/18/75/26/17/webp_n18.png) no-repeat right;
    /*text-shadow: 0 0 0.2em #FF6600, 0 0 0.2em #FF6600, 0 0 0.2em #FF6600;*/
}

a[href="/u2"]:hover,
.chatbox-username[data-user="2"]:hover {
    text-shadow: 0 0 4px orange !important;
}

a[href="/u4"],
.chatbox-username[data-user="4"] {
    text-shadow: 0 0 0.2em black, 0 0 0.2em black, 0 0 0.2em black;
    padding-right: 18px;
    background: url(https://i.servimg.com/u/f60/18/75/26/17/webp_n13.png) no-repeat right;
    /*text-shadow: 0 0 0.2em #FF6600, 0 0 0.2em #FF6600, 0 0 0.2em #FF6600;*/
}

a[href="/u4"]:hover,
.chatbox-username[data-user="4"]:hover {
    text-shadow: 0 0 0.5em black, 0 0 0.5em black, 0 0 0.5em black !important;
}

a[href="/u21"],
.chatbox-username[data-user="21"] {
    text-shadow: 0 0 0.2em black, 0 0 0.2em black, 0 0 0.2em black;
    padding-right: 18px;
    background: url(https://i.imgur.com/erEVgNo.png) no-repeat right;
    /*text-shadow: 0 0 0.2em #FF6600, 0 0 0.2em #FF6600, 0 0 0.2em #FF6600;*/
}

a[href="/u21"]:hover,
.chatbox-username[data-user="21"]:hover {
    text-shadow: 0 0 0.5em black, 0 0 0.5em black, 0 0 0.5em black !important;
}

a[href="/u94"],
.chatbox-username[data-user="94"] {
    text-shadow: 0 0 0.2em black, 0 0 0.2em black, 0 0 0.2em black;
    padding-right: 18px;
    background: url(https://i.servimg.com/u/f60/18/75/26/17/revolv10.png) no-repeat right;
    /*text-shadow: 0 0 0.2em #FF6600, 0 0 0.2em #FF6600, 0 0 0.2em #FF6600;*/
}

a[href="/u94"]:hover,
.chatbox-username[data-user="94"]:hover {
    text-shadow: 0 0 4px orange !important;
}

a[href="/u95"],
.chatbox-username[data-user="95"] {
    text-shadow: 0 0 0.1em black, 0 0 0.1em black, 0 0 0.1em black;
    padding-right: 18px;
    background: url(https://i.imgur.com/quzacMC.png) no-repeat right;
}

a[href="/u95"]:hover,
.chatbox-username[data-user="95"]:hover {
    text-shadow: 0 0 4px green !important;
}

a[href="/u53"],
.chatbox-username[data-user="53"] {
    text-shadow: 0 0 0.2em #017a21, 0 0 0.2em #017a21, 0 0 0.2em #017a21;
    padding-right: 18px;
    background: url(https://i.imgur.com/b2FHNwc.png) no-repeat right;
}

a[href="/u53"]:hover,
.chatbox-username[data-user="53"]:hover {
    text-shadow: 0 0 4px #017a21 !important;
}

a[href="/u32"],
.chatbox-username[data-user="32"] {
    text-shadow: 0 0 0.2em #00f, 0 0 0.2em #00f, 0 0 0.2em #fff;
    padding-right: 14px;
    background: url(https://i.servimg.com/u/f60/18/75/26/17/brood_12.png) no-repeat right;
}

a[href="/u23"],
.chatbox-username[data-user="23"] {
    text-shadow: 0 0 0.2em #fa61ae, 0 0 0.2em #fa61ae, 0 0 0.2em #fa61ae;
    padding-right: 16px;
    background: url(https://i.imgur.com/PhclDEt.png) no-repeat right;
}

a[href="/u11"],
.chatbox-username[data-user="11"] {
    text-shadow: 0 0 0.02em #0F52BA, 0 0 0.2em #0F52BA, 0 0 0.2em #0F52BA;
}

a[href="/u12"],
.chatbox-username[data-user="12"] {
    text-shadow: 0 0 0.02em #990000, 0 0 0.2em #990000, 0 0 0.2em #990000;
    padding-right: 18px;
    background: url(https://i.imgur.com/G7hs5ub.png) no-repeat right;
}

a[href="/u121"],
.chatbox-username[data-user="121"] {
    text-shadow: 0 0 0.2em #a08bf6, 0 0 0.2em #a08bf6, 0 0 0.2em #a08bf6;
}

a[href="/u114"],
.chatbox-username[data-user="114"] {
    text-shadow: 0 0 0.2em #7a7976, 0 0 0.2em #7a7976, 0 0 0.2em #7a7976;
    padding-right: 18px;
    background: url(https://i.servimg.com/u/f60/18/75/26/17/webp_n15.png) no-repeat right;
}

a[href="/u128"],
.chatbox-username[data-user="128"] {
    text-shadow: 0 0 0.2em #c456ae, 0 0 0.2em #c456ae, 0 0 0.2em #c456ae;
    padding-right: 18px;
    background: url(https://i.servimg.com/u/f60/18/75/26/17/webp_n16.png) no-repeat right;
}

a[href="/u64"],
.chatbox-username[data-user="128"] {
    text-shadow: 0 0 0.2em #1b0087, 0 0 0.2em #1b0087, 0 0 0.2em #1b0087;
    padding-right: 18px;
    background: url(https://i.imgur.com/QuJrz9G.png) no-repeat right;
}

a[href="/u191"],
.chatbox-username[data-user="191"] {
    text-shadow: 0 0 0.2em #8DB600, 0 0 0.2em #8DB600, 0 0 0.2em #8DB600;
    padding-right: 18px;
    background: url(https://i.imgur.com/FmoE3Bf.png) no-repeat right;
}

a[href="/u249"],
.chatbox-username[data-user="249"] {
    text-shadow: 0 0 0.2em #45026b, 0 0 0.2em #45026b, 0 0 0.2em #45026b;
    padding-right: 20px;
    background: url(https://i.imgur.com/FaKrRaQ.png) no-repeat right;
}

a[href="/u28"],
.chatbox-username[data-user="28"] {
    text-shadow: 0 0 0.2em #F9DD3A, 0 0 0.2em #F9DD3A, 0 0 0.2em #F9DD3A;
    padding-right: 18px;
    background: url(https://i.imgur.com/mlCz8ui.png) no-repeat right;
}

a[href="/u28"]:hover,
.chatbox-username[data-user="28"]:hover {
    text-shadow: 0 0 0.2em #F93F3F, 0 0 0.2em #F93F3F, 0 0 0.2em #F93F3F !important;
}

a[href="/u188"],
.chatbox-username[data-user="188"] {
    text-shadow: 0 0 0.2em #000, 0 0 0.2em #000, 0 0 0.2em #000;
    padding-right: 18px;
    background: url(https://i.imgur.com/oR2QWTO.png) no-repeat right;
}

a[href="/u307"],
.chatbox-username[data-user="307"] {
    text-shadow: 0 0 0.1em #fff, 0 0 0.1em #fff, 0 0 0.1em #fff;
    padding-right: 18px;
    background: url(https://i.servimg.com/u/f60/18/75/26/17/polarb11.png) no-repeat right;
}

a[href="/u88"],
.chatbox-username[data-user="88"] {
    text-shadow: 0 0 0.2em #0f0, 0 0 0.2em #0ff, 0 0 0.2em #0ff;
    padding-right: 18px;
    background: url(https://i.servimg.com/u/f60/18/75/26/17/grassh10.png) no-repeat right;
}

a[href="/u362"],
.chatbox-username[data-user="362"] {
    text-shadow: 0 0 0.2em #e84d4d, 0 0 0.2em #e84d4d, 0 0 0.2em #e84d4d;
    padding-right: 18px;
    background: url(https://i.servimg.com/u/f60/18/75/26/17/target10.png) no-repeat right;
}

a[href="/u385"],
.chatbox-username[data-user="385"] {
    text-shadow: 0 0 0.2em #000, 0 0 0.2em #000, 0 0 0.2em #000;
    padding-right: 18px;
    background: url(https://i.servimg.com/u/f60/18/75/26/17/crossb10.png) no-repeat right;
}

/*Hide custom user icons for avatar images*/
.postprofile-avatar a,
.postprofile-contact a {
    background: none;
    padding-right: 0;
}

/*TRACKER-------------------------------------------------------------------------------------------*/

table#tracFld {
    min-width: 100%;
    max-width: 100%;
    margin: auto;
}

/*.postdetails {
position: relative;
}*/

.postprofile-info table#tracFld a,
.tracker-link {
    margin: auto;
    display: inline-block;
    background-color: var(--rd-highlight-color);
    color: #ffffff;
    text-align: center;
    padding: 0.5em 0.5em;
    border-radius: 0.25em;
    cursor: pointer;
    min-width: 100%;
    max-width: 100%;
}

.postprofile-info table#tracFld a:hover,
.tracker-link:hover {
    background-color: #ffffff;
    color: #000000 !important;
}

/*Spoiler tag and dialogue colours and styles----------------------------------------------------------*/
.plyr {
    font-weight: bold;
    text-shadow: 0 0 0.2em #000, 0 0 0.2em #000, 0 0 0.2em #000 !important;
}

.spoiler-wgov dl dt,
.wgov {
    color: var(--rd-color-wgov) !important;
}

.spoiler-cpol dl dt,
.cpol {
    color: var(--rd-color-cpol) !important;
}

.spoiler-navy dl dt,
.spoiler-blue dl dt,
.navy {
    color: var(--rd-color-navy) !important;
}

.spoiler-revo dl dt,
.spoiler-green dl dt,
.revo {
    color: var(--rd-color-revo) !important;
}

.spoiler-pirt dl dt,
.spoiler-red dl dt,
.pirt {
    color: var(--rd-color-pirt) !important;
}

.spoiler-bhun dl dt,
.bhun {
    color: var(--rd-color-bhun) !important;
}

.spoiler-misc dl dt,
.misc {
    color: var(--rd-color-misc) !important;
}

.spoiler-scbk dl dt,
.scbk {
    color: var(--rd-color-scbk) !important;
}

.spoiler-radm dl dt,
.radm {
    color: var(--rd-color-radm) !important;
}

.spoiler-vadm dl dt,
.vadm {
    color: var(--rd-color-vadm) !important;
}

.spoiler-adml dl dt,
.adml {
    color: var(--rd-color-adml) !important;
}

.spoiler-gnrl dl dt,
.gnrl {
    color: var(--rd-color-gnrl) !important;
}

.spoiler-cmdr dl dt,
.cmdr {
    color: var(--rd-color-cmdr) !important;
}

/*-----------------------------------------------------------------*/

/*BOOTSTRAP Corrections-------------------------------------------------*/
/*Colour variables-----------------------------*/
:root {
    --bs-dark-rgb: 33, 33, 33 !important;
    --bs-dark: #212121 !important;
    --rd-blockquote-bg-color: #333333;
    --rd-highlight-color: #2C353B;
    --rd-main-font-color: #bababa;
    --rd-color-wgov: #77D8D3;
    --rd-color-cpol: #E9CA00;
    --rd-color-navy: #8AD6FF;
    --rd-color-revo: #98E88B;
    --rd-color-pirt: #FFB4B4;
    --rd-color-bhun: #FFC08C;
    --rd-color-misc: #FFADDE;
    --rd-color-scbk: #F887FF;
    --rd-color-radm: #3da3fd;
    --rd-color-vadm: #7F86FA;
    --rd-color-adml: #8FCBFF;
    --rd-color-gnrl: #36e86e;
    --rd-color-cmdr: #5aed70;
}

.fade {
    background-image: none !important;
}

.card {
    --bs-card-bg: var(--bs-dark);
}

.table-wrapper> :not(.table) {
    display: none;
}

.table-wrapper {
    font-size: 0;
}

.table-wrapper * {
    font-size: 1.3rem;
    color: inherit;
}

div[class*='post--'] .postbody table,
div[class*='post--'] .postbody td,
div[class*='post--'] .postbody th,
#preview .postbody table,
#preview .postbody td,
#preview .postbody th,
div[class*='post--'] .post-content table,
div[class*='post--'] .post-content td,
div[class*='post--'] .post-content th,
#preview .post-content table,
#preview .post-content td,
#preview .post-content th {
    border-top-width: 1px !important;
    border-left-width: 0px !important;
    border-right-width: 0px !important;
    border-bottom-width: 0px !important;
    border-color: inherit !important;
}

.table-hover tr:hover td,
.table-hover tr:hover th {
    color: inherit !important;
}

ul.topiclist,
ul.topiclist dl,
dl.codebox {
    margin-bottom: 0rem;
}

ul.topiclist {
    padding-left: 0rem;
}


/*MODAL IMAGES-----------------------------------------------------------------*/
/* Style the Image Used to Trigger the Modal */
.img-modal {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.img-modal:hover {
    opacity: 0.6;
}

/* The Modal (background) */
#img-modal-overlay {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 999;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (Image) */
#img-modal-expanded {
    margin: auto auto;
    display: block;
    max-width: 90%;
    max-height: 90%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#img-modal-caption {
    margin: auto;
    display: block;
    max-width: 90%;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 2.5em;
}

/* Add Animation - Zoom in the Modal */
#img-modal-expanded,
#img-modal-caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
#img-modal-close {
    position: absolute;
    bottom: 15px;
    left: 35px;
    color: #f1f1f1;
    font-size: 10em;
    font-weight: bold;
    transition: 0.3s;
}

#img-modal-close:hover,
#img-modal-close:focus {
    color: #999999;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    #img-modal-expanded {
        width: 100%;
    }
}

/*STICKY POST PROFILE-----------------------------------------------------------------------------*/

.postprofile {

    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 10%;
}

/*DISCORD JOIN BUTTON-------------------------------------------------------------------------------*/

a#lnk-discord-join {
    position: fixed;
    bottom: 5%;
    right: 5%;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    height: 10em;
    width: 10em;
    z-index: 999;
}

a#lnk-discord-join:hover {
    text-shadow: none !important;
}

#img-discord-join {
    max-width: 100%;
    max-height: 100%;
    opacity: 0.7;
}

a#lnk-discord-join:hover #img-discord-join {
    -webkit-animation-name: shrink;
    -webkit-animation-duration: 0.4s;
    animation-name: shrink;
    animation-duration: 0.4s;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 1.0;
}

@-webkit-keyframes shrink {
    from {
        -webkit-transform: scale(1)
    }

    to {
        -webkit-transform: scale(0.9)
    }
}

@keyframes shrink {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(0.9)
    }
}

/*PURE CSS DROPDOWNS---------------------------------------------------------------------------------*/
/*!
Pure v2.0.3
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/pure-css/pure/blob/master/LICENSE.md
https://purecss.io
*/

.navlinks {
    display: inline-block;
}

.pure-menu {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.2rem;
}

.pure-menu-fixed {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
}

.pure-menu-item,
.pure-menu-list {
    position: relative
}

.pure-menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pure-menu-item {
    padding: 0;
    margin: 0;
    height: 100%;
}

.pure-menu-heading,
.pure-menu-link {
    display: block;
    text-decoration: none;
    white-space: nowrap;
}

.pure-menu-horizontal {
    white-space: nowrap;
    float: left;
    margin: 25px 0 0;
}

.is-sticky .pure-menu-horizontal,
.is-sticky #rd_current_year {
    margin: 0;
}

.pure-menu-horizontal .pure-menu-list {
    display: inline-block;
}

.pure-menu-horizontal .pure-menu-heading,
.pure-menu-horizontal .pure-menu-item,
.pure-menu-horizontal .pure-menu-separator {
    display: inline-block;
    vertical-align: middle;
}

.pure-menu-item .pure-menu-item {
    display: block;
}

.pure-menu-children {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 3;
}

.pure-menu-horizontal .pure-menu-children {
    left: 0;
    top: auto;
    width: inherit;
}

.pure-menu-submenu .pure-menu-children {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    margin: 0;
    padding: 0;
    z-index: 3;
}

.pure-menu-active>.pure-menu-children,
.pure-menu-allow-hover:hover>.pure-menu-children {
    display: block;
    position: absolute;
}

.pure-menu-has-children>.pure-menu-link:after {
    padding-left: .5em;
    content: "\25B8";
    font-size: small;
}

.pure-menu-horizontal .pure-menu-has-children>.pure-menu-link:after {
    content: "\25BE"
}

.pure-menu-horizontal .pure-menu-submenu>.pure-menu-link:after {
    content: "\25B8";
}

.headerbar {
    overflow: visible;
}

.pure-menu-scrollable {
    overflow-y: scroll;
    overflow-x: hidden;
}

.pure-menu-scrollable .pure-menu-list {
    display: block;
}

.pure-menu-horizontal.pure-menu-scrollable .pure-menu-list {
    display: inline-block;
}

.pure-menu-horizontal.pure-menu-scrollable {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    padding: .5em 0;
}

.pure-menu-horizontal .pure-menu-children .pure-menu-separator,
.pure-menu-separator {
    background-color: #ccc;
    height: 1px;
    margin: .3em 0;
}

.pure-menu-horizontal .pure-menu-separator {
    width: 1px;
    height: 1.3em;
    margin: 0 .3em;
}

.pure-menu-horizontal .pure-menu-children .pure-menu-separator {
    display: block;
    width: auto;
}

.pure-menu-heading {
    text-transform: uppercase;
    color: #565d64;
}

.pure-menu-link {
    color: #ffffff;
    cursor: pointer;
}

.pure-menu-children {
    background-color: var(--rd-highlight-color);
    border-radius: 3px;
    box-shadow: 0 0 0.1em #000000;
}

.pure-menu-disabled,
.pure-menu-heading,
.pure-menu-link {
    padding: .5em 1em;
}

.pure-menu-disabled {
    opacity: .5;
}

.pure-menu-disabled:hover {
    cursor: not-allowed;
}

.pure-menu-disabled .pure-menu-link:hover {
    background-color: transparent;
}

.pure-menu-active>.pure-menu-link,
.pure-menu-link:focus {
    background-color: #dddddd;
    color: #000000;
    border-radius: 3px;
}

.pure-menu-link:hover {
    background-color: #ffffff;
    color: #000000;
    border-radius: 3px;
}

#rd_current_year {
    white-space: nowrap;
    float: right;
    margin: 25px 0 0;
    padding: 0.5em 1em;
    font-size: 1.2em;
}

#rd_current_year:hover {
    background-color: #ffffff;
    color: #000000;
    border-radius: 3px;
}

/*--WIDTHS-----------------------------------------------------------------------------------------------*/
.width-10 {
    width: 10%
}

.width-20 {
    width: 20%
}

.width-30 {
    width: 30%
}

.width-40 {
    width: 40%
}

.width-50 {
    width: 50%
}

.width-60 {
    width: 60%
}

.width-70 {
    width: 70%
}

.width-80 {
    width: 80%
}

.width-90 {
    width: 90%
}

.width-100 {
    width: 100%
}


/*--TIMELINE-----------------------------------------------------------------------------------------------*/

.tl-wrapper * {
    box-sizing: border-box;
    font-family: 'Century Gothic', Roboto, sans-serif;
    color: #acacac;
}


/* The actual timeline (the vertical ruler) */
.tl-timeline {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.tl-timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: var(--bs-dark);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.tl-container {
    padding: 8px 20px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.tl-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: var(--bs-dark);
    border: 4px solid #ffffff;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.tl-container:hover::after {
    width: 30px;
    height: 30px;
    cursor: pointer;
    right: -15px;
    top: 12.5px;
    background-color: #ffffff;
    border: 6px solid var(--bs-dark);
}

.tl-container:hover {
    cursor: pointer;
}

/* Place the container to the left */
.tl-left {
    left: 0;
}

/* Place the container to the right */
.tl-right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.tl-left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 15px;
    border: medium solid var(--bs-dark);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--bs-dark);
}

/* Add arrows to the right container (pointing left) */
.tl-right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 15px;
    border: medium solid var(--bs-dark);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--bs-dark) transparent transparent;
}

/* Fix the circle for containers on the right side */
.tl-right::after {
    left: -13px;
}

.tl-right:hover::after {
    left: -15px;
}

/* The actual content */
.tl-content {
    padding: 20px 20px;
    background-color: var(--bs-dark);
    position: relative;
    border-radius: 6px;
    text-align: left;
}

.tl-content h2,
.content h2,
.panel h2 {
    font-size: 1.3em;
    color: #ffffff;
    border-color: #ffffff;
}

.tl-content p {
    font-size: 0.9em;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

    /* Place the timelime to the left */
    .tl-timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .tl-container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .tl-container::before {
        left: 60px;
        border: medium solid var(--bs-dark);
        border-width: 10px 10px 10px 0;
        border-color: transparent var(--bs-dark) transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .tl-left::after,
    .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .tl-right {
        left: 0%;
    }
}

/*-------------------------------------------------------------------------------------------*/

/*--TEMPLATE MOD FIXES---------------------------------------------------------------------------*/
.topiclist dd.dterm,
.topiclist dt {
    width: 70% !important;
}

.topiclist dd.lastpost {
    width: 30% !important;
}

.topiclist.forums dd.dterm img {
    width: 100%;
    max-width: 512px;
}

.topiclist {
    max-height: none !important;
}

.topiclist dd.dterm h3 {
    border-bottom-width: 0px !important;
}

#post-description {
    display: none;
}


/*------------------------------------------------------------------------------------------*/

/*--MOBILE SPECIFIC CSS---------------------------------------------------------------------*/
.module.index-last-images {
    display: none;
}

.forum h2 {
    color: #ffffff;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}


/*-------------------------------------------------------------------------------------------*/

/*--CUSTOM BBCODE CSS--------------------*/
.notice {
    width: 90%;
    font-weight: normal;
    padding: 13px 15px;
    border-radius: 6px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
    margin: auto;
}

.notice p {
    margin-bottom: 1.5em;
}

.notice p:last-child {
    margin-bottom: 0;
}

.notice h5 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: .65em;
    padding-left: 1.5em;
    background-repeat: no-repeat;
    color: white;
    min-height: 24px;
}

.notice-info {
    color: #b4d3fd;
    background-color: #285797;
}

.notice-success {
    color: #e0ff8f;
    background-color: #435d00;
}

.notice-warn {
    color: #ffe884;
    background-color: #776412;
}

.notice-alert {
    color: #ffb4a9;
    background-color: #933628;
}

.notice-info h5 {
    color: #b4d3fd;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%23b4d3fd" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-2.033 16.01c.564-1.789 1.632-3.932 1.821-4.474.273-.787-.211-1.136-1.74.209l-.34-.64c1.744-1.897 5.335-2.326 4.113.613-.763 1.835-1.309 3.074-1.621 4.03-.455 1.393.694.828 1.819-.211.153.25.203.331.356.619-2.498 2.378-5.271 2.588-4.408-.146zm4.742-8.169c-.532.453-1.32.443-1.761-.022-.441-.465-.367-1.208.164-1.661.532-.453 1.32-.442 1.761.022.439.466.367 1.209-.164 1.661z"/></svg>');
}

.notice-success h5 {
    color: #e0ff8f;
    background-image: url('data:image/svg+xml,<svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" width="26" height="26" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="%23e0ff8f" d="m11.998 2.005c5.517 0 9.997 4.48 9.997 9.997 0 5.518-4.48 9.998-9.997 9.998-5.518 0-9.998-4.48-9.998-9.998 0-5.517 4.48-9.997 9.998-9.997zm0 1.5c-4.69 0-8.498 3.807-8.498 8.497s3.808 8.498 8.498 8.498 8.497-3.808 8.497-8.498-3.807-8.497-8.497-8.497zm-5.049 8.886 3.851 3.43c.142.128.321.19.499.19.202 0 .405-.081.552-.242l5.953-6.509c.131-.143.196-.323.196-.502 0-.41-.331-.747-.748-.747-.204 0-.405.082-.554.243l-5.453 5.962-3.298-2.938c-.144-.127-.321-.19-.499-.19-.415 0-.748.335-.748.746 0 .205.084.409.249.557z" fill-rule="nonzero"/></svg>');
}

.notice-warn h5 {
    color: #ffe884;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%23ffe884" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.31 7.526c-.099-.807.528-1.526 1.348-1.526.771 0 1.377.676 1.28 1.451l-.757 6.053c-.035.283-.276.496-.561.496s-.526-.213-.562-.496l-.748-5.978zm1.31 10.724c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z"/></svg>');
}

.notice-alert h5 {
    color: #ffb4a9;
    background-image: url('data:image/svg+xml,<svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" width="26" height="26" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="%23ffb4a9" d="m12.002 2.005c5.518 0 9.998 4.48 9.998 9.997 0 5.518-4.48 9.998-9.998 9.998-5.517 0-9.997-4.48-9.997-9.998 0-5.517 4.48-9.997 9.997-9.997zm0 1.5c-4.69 0-8.497 3.807-8.497 8.497s3.807 8.498 8.497 8.498 8.498-3.808 8.498-8.498-3.808-8.497-8.498-8.497zm0 7.425 2.717-2.718c.146-.146.339-.219.531-.219.404 0 .75.325.75.75 0 .193-.073.384-.219.531l-2.717 2.717 2.727 2.728c.147.147.22.339.22.531 0 .427-.349.75-.75.75-.192 0-.384-.073-.53-.219l-2.729-2.728-2.728 2.728c-.146.146-.338.219-.53.219-.401 0-.751-.323-.751-.75 0-.192.073-.384.22-.531l2.728-2.728-2.722-2.722c-.146-.147-.219-.338-.219-.531 0-.425.346-.749.75-.749.192 0 .385.073.531.219z" fill-rule="nonzero"/></svg>');
}

/*--------------------------------------------------*/
/*--ASSESSMENT FRAMEWORK-------------------*/
#assessment-modal {
    display: none;
    z-index: 99999 !important;
}

.assessment-modal-body img {
    max-width: 100%;
}

.assessment-modal-body {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    vertical-align: top;
    padding: 1em;
    font-family: century gothic, verdana;
    font-size: 1em;
    text-align: justify;
    width: 85%;
    padding-bottom: 1em;
    line-height: 1.6em;
}

.assessment-modal-body hr {
    border-color: var(--rd-main-font-color);
}

.ico-assessment {
    padding-right: 4px;
}

.ico-assessment {
    text-shadow: none !important;
    z-index: 999;
    cursor: help;
}

.assessment-quote {
    text-decoration-line: underline !important;
    text-decoration-style: dotted !important;
    text-decoration-color: #fff;
    background-color: #555;
}

.assessment-quote.detailed-assessment-quote {
    text-decoration-color: var(--rd-color-cpol);
    background-color: #550;
}

.assessment-quote:hover {
    text-decoration-style: solid !important;
    cursor: help;
    background-color: #444;
}

.assessment-quote.detailed-assessment-quote:hover {
    background-color: #440;
    cursor: pointer;
}

.assessment-comment {
    display: none;
}

.btn-close {
    background: transparent url(https://gistcdn.githack.com/GroggyGorilla/0b6178ca989286dd4eb2f2acef9d8dcc/raw/6efde80a88e676e65560aa8d58a5ace615efc7c6/white-close-btn.svg) center/1em auto no-repeat;
}

/*--MISC-----------------------------------------------*/
.title_prefix {
    padding: 0.3em 0.5em;
    border-radius: 0.3em;
    font-family: 'Century Gothic';
    color: #fff;
    box-shadow: 0 0 0.1em #000;
    background-color: teal;
    white-space: nowrap;
}

.title_prefix-episode,
.title_prefix-arc,
.title_prefix-saga,
.title_prefix-world-event {
    background-color: steelblue;
}

.title_prefix-turf-details {
    background-color: royalblue;
}

.title_prefix-navy-branch {
    background-color: var(--rd-color-navy);
    color: navy;
}

.title_prefix-activity-check {
    background-color: crimson;
}

.title_prefix-closed,
.title_prefix-locked {
    background-color: dimgrey;
}

.title_prefix-info {
    background-color: orange;
}

.title_prefix-lore {
    background-color: palevioletred;
}

.title_prefix-tag {
    background-color: slategrey;
}

.title_prefix-rolls,
.title_prefix-board,
.title_prefix-claims {
    background-color: sandybrown;
}

.title_prefix-shop,
.title_prefix-market,
.title_prefix-trade {
    background-color: forestgreen;
}

.title_prefix-event,
.title_prefix-sign-ups,
.title_prefix-rewards,
.title_prefix-announcement,
.title_prefix-news,
.title_prefix-update,
.title_prefix-gifts,
.title_prefix-tips {
    background-color: seagreen;
}

.title_prefix-advertisement {
    background-color: darksalmon;
}

a:hover .title_prefix,
a:active .title_prefix {
    text-shadow: none;
}

h1.page-title,
.topic-title {
    line-height: 2em !important;
}

select[name="topic_color"] {
    display: none;
}

.row .pagination span a:hover {
    background-color: white;
    color: #000;
}

.tooltip-inner {
    font-size: 1.2rem;
    font-family: 'Century Gothic', Verdana, sans-serif;
    color: #fff;
}

.equipment-broken-text,
.equipment-attachment-text {
    font-size: 1.1rem;
    font-style: italic;
}

.equipment-attachment-text {
    color: #8AD6FF;
}

.equipment-broken-text {
    color: #FFB4B4;
}

#frmAgreement .inner {
    margin: 3em auto 3em auto;
    width: 80%;
    text-align: justify;
}

fieldset dl:hover dt label {
    color: #fff;
}

input[type="text"]:hover,
.inputbox:hover {
    border-bottom: 1px solid #fff;
}

.discord-channel-tag {
    background-color: rgba(88, 101, 242, 0.298);
    color: rgb(201, 205, 251);
    cursor: pointer;
    -webkit-transition: background-color 50ms ease-out, color 50ms ease-out;
    transition: background-color 50ms ease-out, color 50ms ease-out;
    font-family: "gg_sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 3px;
    padding: 2px 4px;
    font-weight: 500;
    display: inline-block;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.discord-channel-tag a {
    font-family: "gg_sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(201, 205, 251);
    white-space: nowrap;
}

.discord-channel-tag:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(88, 101, 242);
}

.discord-channel-tag:hover a {
    color: rgb(255, 255, 255);
}

.discord-channel-tag a:hover {
    color: rgb(255, 255, 255);
    text-shadow: unset;
}

.discord-channel-icon {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
    margin-bottom: .2rem;
}

.sceditor-button.sceditor-button-ass div {
    background-image: url(https://i.imgur.com/q9GvEl0.png);
}

.sceditor-button.sceditor-button-dass div {
    background-image: url(https://i.imgur.com/m1QtRNg.png);
}

/* Link icon */
.postbody a:not([class]):not([class=""]):not([href*="servimg"]),
.post-content a:not([class]):not([class=""]):not([href*="servimg"]),
.assessment-modal-body a:not([class]):not([class=""]):not([href*="servimg"]),
a.link-icon {
    padding: 0 0 0 16px;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="13px" height="13px" viewBox="0 0 24 24"><path xmlns="http://www.w3.org/2000/svg" fill="%233491ed" d="M13.723 18.654l-3.61 3.609c-2.316 2.315-6.063 2.315-8.378 0-1.12-1.118-1.735-2.606-1.735-4.188 0-1.582.615-3.07 1.734-4.189l4.866-4.865c2.355-2.355 6.114-2.262 8.377 0 .453.453.81.973 1.089 1.527l-1.593 1.592c-.18-.613-.5-1.189-.964-1.652-1.448-1.448-3.93-1.51-5.439-.001l-.001.002-4.867 4.865c-1.5 1.499-1.5 3.941 0 5.44 1.517 1.517 3.958 1.488 5.442 0l2.425-2.424c.993.284 1.791.335 2.654.284zm.161-16.918l-3.574 3.576c.847-.05 1.655 0 2.653.283l2.393-2.389c1.498-1.502 3.94-1.5 5.44-.001 1.517 1.518 1.486 3.959 0 5.442l-4.831 4.831-.003.002c-1.438 1.437-3.886 1.552-5.439-.002-.473-.474-.785-1.042-.956-1.643l-.084.068-1.517 1.515c.28.556.635 1.075 1.088 1.528 2.245 2.245 6.004 2.374 8.378 0l4.832-4.831c2.314-2.316 2.316-6.062-.001-8.377-2.317-2.321-6.067-2.313-8.379-.002z"/></svg>');
    background-repeat: no-repeat;
    background-position: left top;
}

.postbody a[href*="http"]:not([class]):not([class=""]):not([href*="servimg"]):not([href*="revivaldawn"]),
.post-content a[href*="http"]:not([class]):not([class=""]):not([href*="servimg"]):not([href*="revivaldawn"]),
.assessment-modal-body a[href*="http"]:not([class]):not([class=""]):not([href*="servimg"]):not([href*="revivaldawn"]),
a[href*="http"]:not([href*="revivaldawn"]).link-icon {
    padding: 0 0 0 16px;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="13px" height="13px" viewBox="0 0 24 24"><path xmlns="http://www.w3.org/2000/svg" fill="%23f5c842" d="M13.723 18.654l-3.61 3.609c-2.316 2.315-6.063 2.315-8.378 0-1.12-1.118-1.735-2.606-1.735-4.188 0-1.582.615-3.07 1.734-4.189l4.866-4.865c2.355-2.355 6.114-2.262 8.377 0 .453.453.81.973 1.089 1.527l-1.593 1.592c-.18-.613-.5-1.189-.964-1.652-1.448-1.448-3.93-1.51-5.439-.001l-.001.002-4.867 4.865c-1.5 1.499-1.5 3.941 0 5.44 1.517 1.517 3.958 1.488 5.442 0l2.425-2.424c.993.284 1.791.335 2.654.284zm.161-16.918l-3.574 3.576c.847-.05 1.655 0 2.653.283l2.393-2.389c1.498-1.502 3.94-1.5 5.44-.001 1.517 1.518 1.486 3.959 0 5.442l-4.831 4.831-.003.002c-1.438 1.437-3.886 1.552-5.439-.002-.473-.474-.785-1.042-.956-1.643l-.084.068-1.517 1.515c.28.556.635 1.075 1.088 1.528 2.245 2.245 6.004 2.374 8.378 0l4.832-4.831c2.314-2.316 2.316-6.062-.001-8.377-2.317-2.321-6.067-2.313-8.379-.002z"/></svg>');
    background-repeat: no-repeat;
    background-position: left top;
}

.img-wrapper {
    text-align: center
}

.img-wrapper img {
    border: 1px solid var(--rd-main-font-color);
    max-height: 200px
}

/* POST PROFILE */

.postprofile-contact {
    display: none;
}

/*Hide post profile*/
.post:has(.hide-profile) .postprofile,
.post:has(.hide-profile) .edited-message {
    display: none !important;
}

.post:has(.hide-profile) .postbody {
    margin-right: 0 !important;
}
