<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="revdawn.css" />
<link rel="stylesheet" href="ctt.css" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<style>
	.form-control {
		font-size: 1.2rem;
	}
</style>
<!--Everything above this comment is unnecessary when running the app on the site.-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

<div ng-app="cttApp" id="wrap">
<!--BEGIN Title-->
<div class="adminPostContainer">
	   
	<div class="adminPostText">
		   
		<div class="adminPostTitle">
			Combat Tracker Tool
		</div>
		   
		<hr />
		   
	</div>
</div>
<!--END Title-->
<!--BEGIN Body-->
<div class="adminPostContainer" ng-controller="cttController">
	   
	<div class="adminPostText">
		   
		<!-- <div style="text-align:left">
			<label>Technique Class:</label>
			<select id="techniqueClass" ng-model="techniqueClassId" ng-init="techniqueClassId=1">
				<option ng-repeat="class in techniqueClasses" ng-value="class.id">{{class.acronym}}</option>
			</select>
			<br />
			<label>Roll:</label>
			<input class="inputbox" ng-model="rollValue" type="number" />
			<br />
			<label>RX%:</label>
			<input class="inputbox" ng-model="rxRatio" type="number" />
			<br /><br />
			<button class="button2" ng-click="result=getTechHitResult(techniqueClassId,rollValue,rxRatio)">Determine Technique Success</button>
			<br />
			{{result}}
			<br />
			{{(players | filter: {id:2})[0]}}
		</div>
		   
		<hr /> -->
		<hr />
		<div class="btn-toolbar" role="toolbar">
			<div class="btn-group" role="group">
				<button type="button" class="btn" ng-repeat="char in chars" ng-click="setSelectedCharacter(char.id)" ng-value="char.id" ng-class="{'btn-success': char.id == selectedCharId, 'btn-secondary': char.id != selectedCharId}" style="font-size: 1.2rem">{{char.name}}</button>
			</div>
			<div class="btn-group" role="group">				
				<button type="button" class="btn btn-info btn-sm" ng-click="setSelectedCharacter(0)">+</button>
			</div>
		</div>

		<char-summary-card ng-repeat="chara in chars" ng-show="chara.id == selectedCharId" chara="chara" get-hp-percentage="getHpPercentage"></char-summary-card>
		<add-char-card ng-show="selectedCharId == 0"></add-char-card>
		   
	</div>
</div>
<!--END Body-->

<!--BEGIN Angular Script-->
<script>
    var cttApp = angular.module('cttApp', []);
    cttApp.controller('cttController', function ($scope) {
		$scope.charType = {
			Player: "Player",
			Minion: "Companion",
			NPC: "NPC Boss"
		}
		class character {
			constructor(id,charType,name,level,prestige,baseAtk,baseDef,
						baseRx,baseWp,currentHp = -1,currentAtk = baseAtk,currentDef = baseDef,currentRx = baseRx,currentWp = baseWp,previousTotalHp = -1,perks = [],techniques = [],hakiSpecsAndAscs = [],targets = []) {
				this.id = id;
				this.charType = charType;
				this.name = name;
				this.level = level;
				this.prestige = (level < 100) ? 0 : prestige;
				this.baseAtk = baseAtk;
				this.baseDef = baseDef;
				this.baseRx = baseRx;
				this.baseWp = baseWp;
				this.currentAtk = currentAtk;
				this.currentDef = currentDef;
				this.currentRx = currentRx;
				this.currentWp = currentWp;
				this.totalBaseStats = baseAtk + baseDef + baseRx + baseWp;
				this.hakiLevel = (baseWp < 50) ? 0 : ((baseWp > 550) ? 10 : Math.floor((baseWp - 50)/50));
				
				switch (true) {
					case (level < 20):
						this.Tier = 1;
						this.hpMult = 0.5;
						break;
					case (level < 40):
						this.Tier = 2;
						this.hpMult = 0.5;
						break;
					case (level < 60):
						this.Tier = 3;
						this.hpMult = 0.5;
						break;
					case (level < 80):
						this.Tier = 4;
						this.hpMult = 0.7;
						break;
					case (level < 100):
						this.Tier = 5;
						this.hpMult = 0.85;
						break;
					case (level == 100):
						this.Tier = 6;
						this.hpMult = 1;
						break;
					default:
						this.Tier = 1;
						this.hpMult = 0;
				}
				this.baseHp = Math.round(100 + (baseWp*this.hpMult));
				this.currentTotalHp = Math.round(100 + (currentWp*this.hpMult));				
				this.currentHp = (currentHp != -1) ? currentHp : this.currentTotalHp;
				if (this.currentTotalHp != this.previousTotalHp) {
					//this.currentHp = Math.round(this.currentHp * (this.currentHp / this.currentTotalHp));
				}
				
				this.techniques = techniques;
				this.perks = perks;
				this.targets = targets;
			}
		}


		$scope.techniqueClasses = [
			{"id":1,"name":"Unnamed","acronym":"UT"},
			{"id":2,"name":"Light","acronym":"LT"},
			{"id":3,"name":"Medium","acronym":"MT"},
			{"id":4,"name":"Heavy","acronym":"HT"},
			{"id":5,"name":"AoE","acronym":"AoE"}
		];
		$scope.techniqueTypes = [
			{"id":1,"name":"Flat","damage":{"UT":5,"LT":10,"MT":20,"HT":50,"AoE":50},"cooldowns":{"UT":1,"LT":2,"MT":4,"HT":6,"AoE":8},"targetable":{"self":false,"ally":false,"enemy":true}},
			{"id":2,"name":"DoT","damage":{"LT":3,"MT":6,"HT":15,"AoE":15},"duration":{"LT":5,"MT":5,"HT":5,"AoE":5},"cooldown":{"LT":2,"MT":4,"HT":6,"AoE":8},"targetable":{"self":false,"ally":false,"enemy":true}},
			{"id":3,"name":"Stat Morph","statmorph":{"LT":25,"MT":50,"HT":75,"AoE":75},"duration":{"LT":2,"MT":3,"HT":4,"AoE":4},"cooldown":{"LT":4,"MT":7,"HT":9,"AoE":10},"targetable":{"self":true,"ally":true,"enemy":true}},
			{"id":4,"name":"Flat Hybrid","damage":{"LT":5,"MT":10,"HT":20,"AoE":20},"statmorph":{"LT":10,"MT":20,"HT":30,"AoE":30},"duration":{"LT":2,"MT":3,"HT":4,"AoE":4},"cooldown":{"LT":4,"MT":7,"HT":9,"AoE":10},"targetable":{"self":false,"ally":false,"enemy":true}},
			{"id":5,"name":"DoT Hybrid","damage":{"LT":5,"MT":10,"HT":20,"AoE":20},"statmorph":{"LT":10,"MT":20,"HT":30,"AoE":30},"duration":{"LT":2,"MT":3,"HT":4,"AoE":4},"cooldown":{"LT":4,"MT":7,"HT":9,"AoE":10},"targetable":{"self":false,"ally":false,"enemy":true}},
			{"id":6,"name":"Heal","healfactor":{"UT":0.05,"LT":0.10,"MT":0.20,"HT":0.30,"AoE":0.30},"cooldown":{"UT":3,"LT":4,"MT":6,"HT":8,"AoE":10},"targetable":{"self":true,"ally":true,"enemy":false}},
			{"id":7,"name":"HoT","healfactor":{"LT":0.05,"MT":0.10,"HT":0.20,"AoE":0.20},"duration":{"LT":5,"MT":5,"HT":5,"AoE":5},"cooldown":{"UT":3,"LT":4,"MT":6,"HT":8,"AoE":10},"targetable":{"self":true,"ally":true,"enemy":false}},
			{"id":8,"name":"Canceller","canceldamage":{"LT":10,"MT":20,"HT":50,"AoE":50},"cancelstatmorph":{"LT":25,"MT":50,"HT":75,"AoE":75},"cooldowns":{"LT":2,"MT":4,"HT":6,"AoE":8},"targetable":{"self":false,"ally":false,"enemy":true}}
		];
		$scope.haki = [
			{"id":1,"name":"Busoshoku","abilities":
			[
				{"level":1,"buff":10,"duration":2,"cooldown":10},
				{"level":2,"buff":10,"duration":2,"cooldown":10},
				{"level":3,"buff":10,"duration":2,"cooldown":10},
				{"level":4,"buff":15,"duration":3,"cooldown":10},
				{"level":5,"buff":15,"duration":3,"cooldown":10},
				{"level":6,"buff":20,"duration":4,"cooldown":10},
				{"level":7,"buff":20,"duration":4,"cooldown":10},
				{"level":8,"buff":20,"duration":4,"cooldown":10},
				{"level":9,"buff":25,"duration":5,"cooldown":10},
				{"level":10,"buff":25,"duration":5,"cooldown":10}
			]},
			{"id":2,"name":"Kenbunshoku","abilities":
			[
				{"level":1,"buff":10,"duration":2,"cooldown":10},
				{"level":2,"buff":10,"duration":2,"cooldown":10},
				{"level":3,"buff":10,"duration":2,"cooldown":10},
				{"level":4,"buff":15,"duration":3,"cooldown":10},
				{"level":5,"buff":15,"duration":3,"cooldown":10},
				{"level":6,"buff":20,"duration":4,"cooldown":10},
				{"level":7,"buff":20,"duration":4,"cooldown":10},
				{"level":8,"buff":20,"duration":4,"cooldown":10},
				{"level":9,"buff":25,"duration":5,"cooldown":10},
				{"level":10,"buff":25,"duration":5,"cooldown":10}
			]},
			{"id":3,"name":"Haoshoku","abilities":[{
			}]}
		];
		$scope.perks = [
			{"id":1,"name":"Rise and Shine","perkBB":"riseandshine"},
			{"id":2,"name":"Rise and Shine","perkBB":"riseandshine"},
			{"id":3,"name":"Freak of Nature","perkBB":"freakofnature"},
			{"id":4,"name":"Dreams Never Die","perkBB":"dreamsneverdie"},
			{"id":5,"name":"Walking, Talking First Aid Kit","perkBB":"firstaidkit"},
			{"id":6,"name":"Dulcet Virtuoso","perkBB":"dulcetvirtuoso"}
			//{"id":9,"name":"","perkBB":""},
		];
		$scope.hitType = {
			Miss: "Miss",
			Grazing: "Grazing Hit",
			Solid: "Solid Hit",
			Crit: "Critical Hit"
		};

		// FUNCTIONS
		$scope.getTechHitResult = function (techniqueClassId, rollValue, rxRatio) { // rxRatio is assumed to be rounded down to two decimal places already.
			requiredRollValue = 1;
			switch (true) {
				case (techniqueClassId == 1): // UT
					lowerThreshold = 0;
					upperThreshold = 1.41;
					break;
				case (techniqueClassId == 2): // LT
					lowerThreshold = 0.10;
					upperThreshold = 1.61;
					break;
				case (techniqueClassId == 3): // MT
					lowerThreshold = 0.10;
					upperThreshold = 1.81;
					break;
				case (techniqueClassId == 4): // HT
					lowerThreshold = 0.10;
					upperThreshold = 2.01;
					break;
				case (techniqueClassId == 5): // AoE
					lowerThreshold = 0.30;
					upperThreshold = 2.21;
					break;
			}
			if (rxRatio > upperThreshold) { requiredRollValue = 1; }
			else if (rxRatio <= lowerThreshold) { requiredRollValue = 99; }
			else { requiredRollValue = Math.ceil((upperThreshold - rxRatio) * 10 + 1); }
			switch(true) {
				case (rollValue == 20 && rxRatio > 0.50):
					return $scope.hitType.Crit;
				case (rollValue >= requiredRollValue):
					return $scope.hitType.Solid;
				case ((requiredRollValue - rollValue) == 1):
					return $scope.hitType.Grazing;
				case (rollValue < requiredRollValue):
					return $scope.hitType.Miss;
				default:
					return $scope.hitType.Miss;
			}
			
		}    
		$scope.setSelectedCharacter = function (charId) {
			$scope.selectedCharId = charId;
		}
		$scope.getHpPercentage = function (currentHp, currentTotalHp) {
			return Math.round((currentHp/currentTotalHp) * 100);
		}

		$scope.selectedCharId = 0;
		$scope.chars =
		[ 
			new character(1, $scope.charType.Player, "James Flint", 100, 0, 750, 750, 550, 550),
			new character(2, $scope.charType.Minion, "Anne Bonney", 50, 0, 500, 500, 500, 500, 40, 510, 510, 510, 510, 500, [], [], [], []),
			new character(3, $scope.charType.NPC, "Benjamin Hornigold", 90, 0, 500, 500, 500, 500, 40, 490, 490, 490, 490, 500, [], [], [], [])
		];
		$scope.newChar = null;
		$scope.char = new character(4, $scope.charType.Player, "Edward Teach", 100, 0, 750, 750, 550, 550, 575, 575, 550, 550, 500, 500, [], [], [], 0);
		
		    
    });

	/**CHARACTER SUMMARY CARD********************/
	cttApp.directive('charSummaryCard', function () {
		return {
			restrict: 'AE',
			scope: {
				chara: "=",
				getHpPercentage: "="
			},
			template: `<div class="card bg-dark">
    <div class="h3 card-header">{{chara.id}}: {{chara.name}} ({{chara.charType}})</div>
	
	<div class="progress" style="height:2rem;font-size:1.2rem;margin-left:5%;margin-right:5%">
            <div class="progress-bar" ng-class="{'bg-success': getHpPercentage(chara.currentHp, chara.currentTotalHp) == 100, 'bg-info': getHpPercentage(chara.currentHp, chara.currentTotalHp) > 100, 'bg-warning': getHpPercentage(chara.currentHp, chara.currentTotalHp) < 25, 'bg-danger': getHpPercentage(chara.currentHp, chara.currentTotalHp) < 10}" ng-style="{'width': (getHpPercentage(chara.currentHp, chara.currentTotalHp) + '%')}">
                {{chara.currentHp}}/{{chara.currentTotalHp}}
            </div>
    </div>

    <div class="card-body">        
        <p class="card-text">
            <div class="row">
                <div class="col-4">
                    <h4 class="card-title">Base</h4>
                    <div class="row">
                        <div class="col-8">
                            Level: 
                        </div>
                        <div class="col-4">
                            {{chara.level}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            Haki Level: 
                        </div>
                        <div class="col-4">
                            {{chara.hakiLevel}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            Base Hp: 
                        </div>
                        <div class="col-4">
                            {{chara.baseHp}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            Total Stats: 
                        </div>
                        <div class="col-4">
                            {{chara.totalBaseStats}}
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <h4 class="card-title">Current Stats</h4>
                    <div class="row">
                        <div class="col-8">HP:</div>
                        <div class="col-4">{{chara.currentHp}}</div>
                    </div>
                    <div class="row">
                        <div class="col-8">ATK:</div>
                        <div class="col-4" ng-class="{'text-success': chara.currentAtk > chara.baseAtk, 'text-warning': chara.currentAtk < chara.baseAtk}">
                            {{chara.currentAtk}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">DEF:</div>
                        <div class="col-4" ng-class="{'text-success': chara.currentDef > chara.baseDef, 'text-warning': chara.currentDef < chara.baseDef}">
                            {{chara.currentDef}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">RX:</div>
                        <div class="col-4" ng-class="{'text-success': chara.currentRx > chara.baseRx, 'text-warning': chara.currentRx < chara.baseRx}">
                            {{chara.currentRx}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">WP:</div>
                        <div class="col-4" ng-class="{'text-success': chara.currentWp > chara.baseWp, 'text-warning': chara.currentWp < chara.baseWp}">
                            {{chara.currentWp}}
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <h4 class="card-title">Total Stats</h4>
                    <div class="row">
                        <div class="col-8">
                            HP:
                        </div>
                        <div class="col-4">
                            {{chara.currentTotalHp}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            ATK:
                        </div>
                        <div class="col-4">
                            {{chara.baseAtk}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            DEF:
                        </div>
                        <div class="col-4">
                            {{chara.baseDef}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            RX:
                        </div>
                        <div class="col-4">
                            {{chara.baseRx}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            WP:
                        </div>
                        <div class="col-4">
                            {{chara.baseWp}}
                        </div>
                    </div>
                </div>
            </div>
        </p>
    </div>
</div>`
		}
	})
	/**ADD CHARACTER CARD********************/
	.directive('addCharCard', function () {
	return {
		restrict: 'AE',
		template: `<div class="card bg-dark">
    <div class="h3 card-header">
        <div class="input-group">
            <input type="textbox" class="form-control" placeholder="Name" />
            <select class="form-select">
				<option ng-value="charType.Player">{{charType.Player}}</option>
				<option ng-value="charType.Minion">{{charType.Minion}}</option>
				<option ng-value="charType.NPC">{{charType.NPC}}</option>
			</select>
        </div>

    </div>
    <div class="card-body">
        <p class="card-text">
            <div class="row">
                <div class="col-4">
                    <h4 class="card-title">
                        Base
                    </h4>
                    <div class="row">
                        <div class="col-6">
                            Level: 
                        </div>
                        <div class="col-6">
                            <input type="textbox" class="form-control" placeholder="Level" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            Haki Level: 
                        </div>
                        <div class="col-6">
                            <input type="textbox" class="form-control" placeholder="Haki Level" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            Total Stats: 
                        </div>
                        <div class="col-6">
                            <input type="textbox" class="form-control" placeholder="Total Stats" />
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <h4 class="card-title">
                        Current Stats
                    </h4>
                    <div class="row">
                        <div class="col-6">
                            HP:
                        </div>
                        <div class="col-6">
                            <input type="textbox" class="form-control" placeholder="HP" />
						</div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            ATK:
                        </div>
                        <div class="col-6">
                            <input type="textbox" class="form-control" placeholder="ATK" />
						</div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            DEF:
                        </div>
                        <div class="col-6">
                            <input type="textbox" class="form-control" placeholder="DEF" />
						</div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            RX:
                        </div>
                        <div class="col-6">
                            <input type="textbox" class="form-control" placeholder="RX" />
						</div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            WP:
                        </div>
                        <div class="col-6">
                            <input type="textbox" class="form-control" placeholder="WP" />
						</div>
                    </div>
                </div>
                <div class="col-4">
                    <h4 class="card-title">
                        Total Stats
                    </h4>
                    <div class="row">
                        <div class="col-6">
                            HP:
                        </div>
                        <div class="col-6">
                            <input type="textbox" class="form-control" placeholder="HP" />
						</div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            ATK:
                        </div>
                        <div class="col-6">
                            <input type="textbox" class="form-control" placeholder="ATK" />
						</div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            DEF:
                        </div>
                        <div class="col-6">
                            <input type="textbox" class="form-control" placeholder="DEF" />
						</div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            RX:
                        </div>
                        <div class="col-6">
                            <input type="textbox" class="form-control" placeholder="RX" />
						</div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            WP:
                        </div>
                        <div class="col-6">
                            <input type="textbox" class="form-control" placeholder="WP" />
						</div>
                    </div>
                </div>
            </div>
        </p>
    </div>
    <button type="button" class="btn btn-success">
        Add Character
    </button>
</div>`
	}
});

</script>
<!--END Angular Script-->
</div>